# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore node_modules directory
node_modules/

# Ignore access.log file in the logs folder
src/logs/access.log
src/logs


# Ignore environment variable file
.env
